* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #ffffff;
    color: white;
}

#workspaces {
	background-color: #000000;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces button.focused {
    color: #000000;
    background-color: #ffffff;
    border-radius: 1px;
}

#workspaces button:hover {
	background-color: #ffffff;
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background-color: #000000;
	padding: 0px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #000000;
}

#custom-power {
	color: #2e3440;
	background-color: #bf616a;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px 10px;
}

#clock {
    color: #ffffff;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#battery {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: black;
    }
}

#battery.charging {
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
	color: #ffffff;
}

#pulseaudio {
	color: #ffffff;
	border-radius: 5px 0px 0px 5px;
}

